{% extends 'base.html' %}
{% block title %}OzoneLabs||Search result :{% endblock %}


{% block body %}
<main>
  <div class="page-section">
    <div class="container">
      <div class="row justify-content-center">
        <h1>Search Results : </h1>
<hr>
        <div class="col-lg-10">
          <div class="row">
            {% if allPosts|length < 1 %}
                 <h2 >Keyword not found.... <br> try again...</h2>
              {% endif %}
            
            {% for post in allPosts reversed  %}

              
            <div class="col-md-6 col-lg-4 py-3">
              <div class="card-blog">
                <div class="header">
                  <div class="avatar">
                    <img src="../static/img/person/person_1.jpg" alt="" />
                  </div>
                  <div class="entry-footer">
                    <div class="post-author">{{post.author}}</div>
                    <a href="#" class="post-date">{{post.pub_date}}</a>
                  </div>
                </div>
                <div class="body">
                  <div class="post-title">
                    <a href="blog-single.html"
                      >{{post.Blog_title}}</a
                    >
                  </div>
                  <div class="post-excerpt">
                    {{post.article | truncatechars:75 }}
                  </div>
                </div>
                <div class="footer">
                  <a href="/blog/{{post.Slug}}"
                    >Read More
                    <span class="mai-chevron-forward text-sm"></span
                  ></a>
                </div>
              </div>
            
            </div>
            {% endfor %}
            {% if allPosts|length < 1 %}
              
            {% else %}
              
            

            <div class="col-12 my-5">
              <nav aria-label="Page Navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disable">
                    <a
                      class="page-link"
                      href="#"
                      tabindex="-1"
                      aria-disabled="true"
                      >Previous</a
                    >
                  </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#"
                      >1 <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
            {% endif %}
            

            
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->
</main>

{% endblock %}