{% extends 'base.html' %}
{% block title %}OzoneLabs||services{% endblock %}

{% block banner %}
<div
        class="page-banner bg-img bg-img-parallax overlay-dark"
        style="background-image: url(../static/img/new_bg.jpg)"
      >
        <div class="container h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8">
              <nav aria-label="breadcrumb">
                <ol
                  class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0"
                >
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Services
                  </li>
                </ol>
              </nav>
              <h1 class="fg-white text-center">Services</h1>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block body %}
{% load static %}
<main>
  <div class="page-section">
    <div class="container" id="hello">
      <div class="text-center">
        <div class="subhead">Our Services</div>
        <h2 class="title-section">See what can we do for your Projects</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import"
                src="{% static 'img/icons/web_development.svg' %}"
                alt=""
              />
            </div>
            <h5>Web Development</h5>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import"
                src="{% static 'img/icons/graphics_design.svg' %}"
                alt=""
              />
            </div>
            <h5>NFT Design</h5>
          </div>

        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import" src="../static/img/icons/seo_and_marketing.svg" alt="" />
            </div>
            <h5>SEO & Marketing</h5>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import" src="../static/img/icons/customer_services.svg" alt="" />
            </div>
            <h5>Customer Services</h5>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import" src="../static/img/icons/app_development.svg" alt="" />
            </div>
            <h5>DApp Development</h5>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import" src="../static/img/icons/ui_ux_design.svg" alt="" />
            </div>
            <h5>Minting UI/UX Design</h5>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name" >
              <img id="import"g src="../static/img/icons/product_design.svg" alt="" />
            </div>
            <h5>Product Design</h5>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
          <div class="text-center" id="unqe01">
            <div class="img-fluid mb-4 " id="my_name">
              <img id="import" src="../static/img/icons/data_analyst.svg" alt="" />
            </div>
            <h5>Data Analyst on Blockchain</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->

  <!-- Testimonials -->
  <div class="page-section">
    <div class="container" id="hello">
      <div class="text-center">
        
        <h2 class="title-section">-- Our Clint Reviews --</h2>
      </div>
      <div class="owl-carousel testimonial-carousel">

        {% for revi in review %}
          
        
        <div class="card-testimonial" >
          <div class="content">
            {{revi.reviw}}
          </div>
          <div class="author">
            <div class="avatar">
              <img src="/img/{{revi.clint_photo}}" alt="" />
            </div>
            <div class="d-inline-block ml-2">
              <div class="author-name">{{revi.clint_name}}</div>
              <div class="author-info">{{revi.company_name}}</div>
            </div>
          </div>
        </div>
{% endfor %}
        
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .page-section -->

  <div class="page-section">
    <div class="container-fluid">
      <div
        class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center"
      >
        <div class="py-3 px-5">
          <img src="{% static 'img/clients/solana.png' %}" alt="" />
        </div>
        <div class="py-3 px-5">
          <img src="{% static 'img/clients/magiceden.png' %}" alt="" />
        </div>
        <div class="py-3 px-5">
          <img src="{% static 'img/clients/Ethereum.png' %}" alt="" />
        </div>
        <div class="py-3 px-5">
          <img src="{% static 'img/clients/metaplex.png' %}" alt="" />
        </div>
        <div class="py-3 px-5">
          <img src="{% static 'img/clients/polygon.png' %}" alt="" />
        </div>
      </div>
    </div>
    <!-- .container-fluid -->
  </div>
    <!-- .container-fluid -->
  </div>
  <!-- .page-section -->
</main>
{% endblock %}